* {
	border :1px solid red;
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
}

#nav {
	height: 30px;
	width:100%;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
	float: right;
}

#main-logo {
	text-align: center;
}

#input {
	text-align: center;
}

#buttons {
	text-align: center;
}

#footer {
	height:30px;
	width:100%;
}

#footer-r {
	float: right;
}

#footer-l {
	float: left;
}

